.Token{
  width: 100%;
  height: 100%;
  background-color: lightsteelblue;
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid #c4c3c3;
  line-height: 40px;
  user-select: none;
}

.Header{
  height: 50px;
  text-align: center;
  border-bottom: 1px solid #c4c3c3;
  cursor: move;
  background-color: #b7bfd3;
}

.Body{
  background-color: white;
  height: 100%;
  overflow: hidden;
}


.PinButton, .PinButtonPressed{
  width: 30px;
  height:30px;
  position: absolute;
  top: 6px;
  left: 6px;
  background-size: cover;
  background-image: url('../../../../assets/icons/pinUnselected.png');
  cursor: pointer;
}

.PinButtonPressed{
  background-size: cover;
  background-image: url('../../../../assets/icons/pinSelected.png');
}

.OptionsButton{
  width: 25px;
  height:25px;
  position: absolute;
  bottom: 4px;
  left: 4px;
  background-size: cover;
  background-image: url('../../../../assets/icons/settingsIcon.png');
  cursor: pointer;
  z-index: 4;
}

.Token_type_IMAGE
  .Header{
    background-color: #b7bfd3;
  }
  .Token_type_TEXT
    .Header{
      background-color: #b6e4ff;
  }