.ImageContainer{
  width: 100%;
  height: 100%;
  padding: 5px;
}

.ImageBox{
  width: 76px;
  height: 76px;
  border: 2px solid black;
  margin: 2px;
  float: left;
  position: relative;
}

.Image{
  width: 100%;
  height: 100%;
}

.RemoveImg{
  width: 20px;
  height:20px;
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}

.AddButton{
  width: 30px;
  height:30px;
  position: absolute;
  top: 6px;
  right: 6px;
}
