.ImageContainer{
  width: 100%;
  height: 100%;
  padding: 5px;
}

.ImageContainer img{
  width: 76px;
  height: auto;
  border: 2px solid black;
  margin: 2px;
  float: left;
}

.AddButton{
  width: 30px;
  height:30px;
  position: absolute;
  top: 6px;
  right: 6px;
  background-size: cover;
  background-image: url('../../../../assets/icons/addFolderIcon.png');
  cursor: pointer;
}
