.Zone{
  width: 100%;
  height: 100%;
  border: 3px dashed gray;
  background-color: #cbeffe;
  position: absolute;
  cursor: move;
  background-size: cover;
}

.GameZone{
  background-color: #fefdcb;
}

.OptionsButton{
  width: 30px;
  height:30px;
  position: absolute;
  top: 6px;
  left: 6px;
  background-size: cover;
  background-image: url('../../../../assets/icons/userIcon.png');
  cursor: pointer;
}

.GameZone .OptionsButton{
  background-image: url('../../../../assets/icons/collaborationIcon.png');
}

.AddButton{
  width: 30px;
  height:30px;
  position: absolute;
  top: 6px;
  right: 6px;
  background-size: cover;
  background-image: url('../../../../assets/icons/addFolderIcon.png');
  cursor: pointer;
}
