.Zone{
  width: 100%;
  height: 100%;
  border: 3px dashed gray;
  background-color: #cbeffe;
  position: absolute;
  cursor: move;
  background-size: cover;
}

.OptionsButton{
  width: 25px;
  height:25px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: lightgreen;
  cursor: pointer;
}

.AddButton{
  width: 25px;
  height:25px;
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: lightgreen;
  cursor: pointer;
}
