.Options{
  width: 100%;
  bottom: 0;
  height: calc(100% - 10px);
  z-index: 2;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.TabBar{
  height: 30px;
  width: 100%;
  display: flex;
}

.Tab{
  flex-grow: 1;
  border: 1px solid #c4c3c3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: rgba(255,255,255,0.4);
  cursor: pointer;
}

.TabSelected{
  border-bottom: none;
  background-color: #fff;
}

.OptionsContainer{
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
}

.Container{
  width: 100%;
  height: 100%;
}


.TextContainer{
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px 35px 30px 35px;
}

.TextContainer textarea{
  width: 100% !important;
  height: 100% !important;
  border: 2px solid lightgray;
  color: gray;  
  font-size: inherit;
  font-family: inherit;
  resize: none;
  padding: 0.3em;
}

.TextContainer textarea::placeholder{
  color: lightgray;  
}
.TextContainer textarea:focus{
  outline: 1px solid rgb(147, 211, 181); 
  /* border: 3px solid rgb(93, 192, 146); */
}

.InputsContainer{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 10px 30px;
}

.InputsContainer input{
  cursor: pointer;
}

.MathsContainer{
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.MathsContainer input{
  width: 40px;
  text-align: right;
}