.Bubble{
  width: 15px;
  height: 15px;
  border-radius: 100px;
  background-color: #8b0000;
  color: #fff;
  position: absolute;
  bottom: -5px;
  right: -5px;
  font-size: 12px;
  line-height: 0;
  font-weight: 500;
  padding-top: 7px;
  box-sizing: border-box;
  cursor: pointer;
}

.CloseModal{
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

label{
  margin-right: 1em;
}