.SideBar{
  height: 100%;
  width: 230px;
  border: 5px solid gray;
  background-color: #c9d8e5;
  box-sizing: border-box;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.MiniatureContainer{
  width: 180px;
  height: 120px;
  border: 5px solid gray;
  background-color: #c9d8e5;
  box-sizing: border-box;
  margin: 7px 0;
  flex: none;
  cursor: pointer;
}

.MiniatureSelected{
  border-color: #000;
}

.AddIcon{
  margin-top: 40px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.ProjectTitle{
  font-size: x-large;
  background: #b7bfd3;
  width: 180px;
  padding: 10px;
  box-sizing: content-box;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 40px;
  cursor: default;
}